Node-Red/flows.json
[{"id":"3548a916.c533d6","type":"tab","label":"Dashboard Flow","disabled":false,"info":""},{"id":"3af26d3a.fdddb2","type":"cloudant in","z":"3548a916.c533d6","name":"","cloudant":"","database":"resultdb","service":"node-red-gqeir-cloudant-1592734921981-44337","search":"_id_","design":"","index":"","x":280,"y":140,"wires":[["9d8d8f01.5205d"]]},{"id":"9d8d8f01.5205d","type":"function","z":"3548a916.c533d6","name":"Formatter","func":"pos = {\n    x: [],\n    y: []\n};\nneg = {\n    x: [],\n    y: []\n};\ntot = {\n    x: [],\n    y: []\n};\ndates = msg.payload[\"date\"];\nfor(const date in dates){\n    var d = new Date(parseInt(date));\n    d = d.toLocaleDateString('en-GB');\n    pos[\"x\"].push(d);\n    pos[\"y\"].push(dates[date][\"positive\"]);\n    \n    neg[\"x\"].push(d);\n    neg[\"y\"].push(dates[date][\"negetive\"]);\n    \n    tot[\"x\"].push(d);\n    tot[\"y\"].push(dates[date][\"positive\"] + dates[date][\"negetive\"] + dates[date][\"neutral\"]);\n}\nmsg.payload = {\n    pos: pos,\n    neg: neg,\n    tot: tot\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["a5393ae8.d02068"]]},{"id":"8e9e56fe.99fcc8","type":"http in","z":"3548a916.c533d6","name":"Dashboard","url":"/","method":"get","upload":false,"swaggerDoc":"","x":80,"y":20,"wires":[["803b8f86.2f74d"]]},{"id":"ecacafef.fa4df","type":"http response","z":"3548a916.c533d6","name":"","statusCode":"","headers":{},"x":770,"y":140,"wires":[]},{"id":"e53b50f4.820e2","type":"debug","z":"3548a916.c533d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":380,"wires":[]},{"id":"803b8f86.2f74d","type":"switch","z":"3548a916.c533d6","name":"QueryProcessor","property":"req.query.q","propertyType":"msg","rules":[{"t":"eq","v":"date","vt":"str"},{"t":"eq","v":"location","vt":"str"},{"t":"eq","v":"hashtag","vt":"str"},{"t":"eq","v":"usermention","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":100,"y":80,"wires":[["ecee7bf5.9950b8"],["b8761eb4.23819"],["6be9c001.97db9"],["65880212.64086c"],["cf540ad1.edcb18"]]},{"id":"ecee7bf5.9950b8","type":"function","z":"3548a916.c533d6","name":"date","func":"msg.payload = \"date\";\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":140,"wires":[["3af26d3a.fdddb2"]]},{"id":"6be9c001.97db9","type":"function","z":"3548a916.c533d6","name":"hashtag","func":"msg.payload = \"hashtag\";\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":200,"wires":[["63753a6b.3720d4"]]},{"id":"de027e78.516da","type":"function","z":"3548a916.c533d6","name":"location","func":"msg.payload = \"location\";\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":440,"wires":[["44441841.daba08"]]},{"id":"65880212.64086c","type":"function","z":"3548a916.c533d6","name":"usermention","func":"msg.payload = \"usermention\";\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":260,"wires":[["f1e2fb01.e59498"]]},{"id":"cf540ad1.edcb18","type":"function","z":"3548a916.c533d6","name":"default","func":"msg.payload = `\n<html>\n<head>\n<link href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n<script src=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js\"></script>\n<script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n<title>Covid-19 Dashboard</title>\n</head>\n<body>\n<style>\n.btn-huge{\n    margin: 15px;\n}\n</style>\n<br>\n<br>\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-md-2\">\n            <a href=\"/\" class=\"btn btn-info btn-lg btn-block btn-huge\">Home</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=date\" class=\"btn btn-info btn-lg btn-block btn-huge\">Timeline</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=location\" class=\"btn btn-info btn-lg btn-block btn-huge\">Location</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=hashtag\" class=\"btn btn-info btn-lg btn-block btn-huge\">HashTags</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=usermention\" class=\"btn btn-info btn-lg btn-block btn-huge\">Users Mentioned</a>\n        </div>\n    </div>\n    <br>\n    <br>\n    <h3>Please Read This:</h3><br>All charts and tables are interactive.<br>The data published on this website has been retrived from tweets after doing some analysis on it.<br>This dashboard will give you an overview of the positive and negative count of sentiments expressed by the people of India in accordance to COVID-19. \n</div>\n</body>\n</html>`\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":320,"wires":[["57463f28.5c82f"]]},{"id":"57463f28.5c82f","type":"http response","z":"3548a916.c533d6","name":"","statusCode":"","headers":{},"x":770,"y":320,"wires":[]},{"id":"f713dad7.6e9668","type":"http response","z":"3548a916.c533d6","name":"","statusCode":"","headers":{},"x":770,"y":260,"wires":[]},{"id":"d448cbf6.6a37c8","type":"http response","z":"3548a916.c533d6","name":"","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"2d302c43.4c1eb4","type":"http response","z":"3548a916.c533d6","name":"","statusCode":"","headers":{},"x":770,"y":440,"wires":[]},{"id":"44441841.daba08","type":"cloudant in","z":"3548a916.c533d6","name":"","cloudant":"","database":"resultdb","service":"node-red-gqeir-cloudant-1592734921981-44337","search":"_id_","design":"","index":"","x":280,"y":440,"wires":[["c2d99722.a53c18"]]},{"id":"63753a6b.3720d4","type":"cloudant in","z":"3548a916.c533d6","name":"","cloudant":"","database":"resultdb","service":"node-red-gqeir-cloudant-1592734921981-44337","search":"_id_","design":"","index":"","x":280,"y":200,"wires":[["9726959c.a04fa8"]]},{"id":"f1e2fb01.e59498","type":"cloudant in","z":"3548a916.c533d6","name":"","cloudant":"","database":"resultdb","service":"node-red-gqeir-cloudant-1592734921981-44337","search":"_id_","design":"","index":"","x":280,"y":260,"wires":[["e617ed49.a43b5"]]},{"id":"a5393ae8.d02068","type":"function","z":"3548a916.c533d6","name":"Plotter","func":"msg.payload = `\n<html>\n<head>\n<link href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n<script src=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js\"></script>\n<script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n<title>Covid-19 Dashboard</title>\n</head>\n<body>\n<style>\n.btn-huge{\n    margin: 15px;\n}\n</style>\n<br>\n<br>\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-md-2\">\n            <a href=\"/\" class=\"btn btn-info btn-lg btn-block btn-huge\">Home</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=date\" class=\"btn btn-info btn-lg btn-block btn-huge\">Timeline</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=location\" class=\"btn btn-info btn-lg btn-block btn-huge\">Location</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=hashtag\" class=\"btn btn-info btn-lg btn-block btn-huge\">HashTags</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=usermention\" class=\"btn btn-info btn-lg btn-block btn-huge\">Users Mentioned</a>\n        </div>\n    </div>\n    <br>\n    <br>\n<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>\n<body>\n<h3>Important Dates</h3><br>\n<ol>\n<li>Before Janata Lockdown</li>\n<li>Durring Janata Lockdown (22 March)</li>\n<li>Lockdown 1.0 (25 March – 14 April)</li>\n<li>Lockdown 2.0 (15 April – 3 May)</li>\n<li>Lockdown 3.0 (4–17 May)</li>\n<li>Lockdown 4.0 (18 May – 7 June)</li>\n<li>Unlock 1.0 (from 8 June)</li>\n</ol>\nNOTE : The graph is interactive.\n<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>\n\n<script>\nvar Positive = {\n  x: ` + JSON.stringify(msg.payload.pos.x) + `,\n  y: ` + JSON.stringify(msg.payload.pos.y) + `,\n  type: 'scatter',\n  name: 'Positive',\n  line: {\n    color: 'rgb(0, 255, 0)',\n    width: 2\n  }\n};\n\nvar Negetive = {\n  x: ` + JSON.stringify(msg.payload.neg.x) + `,\n  y: ` + JSON.stringify(msg.payload.neg.y) + `,\n  type: 'scatter',\n  name: 'Negetive'\n};\n\nvar Total = {\n  x: ` + JSON.stringify(msg.payload.tot.x) + `,\n  y: ` + JSON.stringify(msg.payload.tot.y) + `,\n  type: 'scatter',\n  name: 'Total',\n  line: {\n    color: 'rgb(0, 0, 255)',\n    width: 2\n  }\n};\n\nvar data = [Positive, Negetive, Total];\n\nPlotly.newPlot('myDiv', data);\n</script>\n</div>\n</body>\n</html>`\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["ecacafef.fa4df"]]},{"id":"c2d99722.a53c18","type":"function","z":"3548a916.c533d6","name":"Formatter","func":"pos = {\n    x: [],\n    y: []\n};\nneg = {\n    x: [],\n    y: []\n};\ntot = {\n    x: [],\n    y: []\n};\nlocations = []\nlocs = msg.payload[\"location\"];\nfor(const loc in locs){\n    locations.push(loc);\n    pos[\"y\"].push(locs[loc][\"total\"][\"positive\"]);\n    pos[\"x\"].push(loc);\n    \n    neg[\"y\"].push(locs[loc][\"total\"][\"negetive\"]);\n    neg[\"x\"].push(loc);\n    \n    tot[\"y\"].push(locs[loc][\"total\"][\"positive\"] + locs[loc][\"total\"][\"negetive\"] + locs[loc][\"total\"][\"neutral\"]);\n    tot[\"x\"].push(loc);\n}\nmsg.payload = {\n    pos: pos,\n    neg: neg,\n    tot: tot,\n    loc: locations\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["d51091f6.6a18a"]]},{"id":"d51091f6.6a18a","type":"function","z":"3548a916.c533d6","name":"Plotter","func":"options = \"\"\nloc = msg.payload.loc\nfor(const i in loc){\n    options += \"<option value=\\\"\" + loc[i] + \"\\\">\" + loc[i] + \"</option>\";\n}\nmsg.payload = `\n<html>\n<head>\n<link href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n<script src=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js\"></script>\n<script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n<title>Covid-19 Dashboard</title>\n</head>\n<body>\n<style>\nbody {\n    text-align: center;\n}\nform {\n    display: inline-block;\n}\n.btn-huge{\n    margin: 15px;\n}\n</style>\n<br>\n<br>\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-md-2\">\n            <a href=\"/\" class=\"btn btn-info btn-lg btn-block btn-huge\">Home</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=date\" class=\"btn btn-info btn-lg btn-block btn-huge\">Timeline</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=location\" class=\"btn btn-info btn-lg btn-block btn-huge\">Location</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=hashtag\" class=\"btn btn-info btn-lg btn-block btn-huge\">HashTags</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=usermention\" class=\"btn btn-info btn-lg btn-block btn-huge\">Users Mentioned</a>\n        </div>\n    </div>\n    <br>\n    <br>\n    NOTE : The chart is interactive.<br>\n    <form method=\"GET\" action=\"/\" >\n    <input type=\"hidden\" name=\"q\" value=\"location\" >\n    <select name=\"p\">` + options + `</select>\n    <input type=\"submit\" >\n    </form>\n<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>\n<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>\n<script>\nvar Positive = {\n  x: ` + JSON.stringify(msg.payload.pos.x) + `,\n  y: ` + JSON.stringify(msg.payload.pos.y) + `,\n  type: 'bar',\n  name: 'Positive',\n  marker:{\n        color: 'rgb(0, 255, 0)',\n        line: {\n            color: 'rgb(0, 255, 0)'\n      }\n  }\n};\n\nvar Negetive = {\n  x: ` + JSON.stringify(msg.payload.neg.x) + `,\n  y: ` + JSON.stringify(msg.payload.neg.y) + `,\n  type: 'bar',\n  name: 'Negetive'\n};\n\nvar Total = {\n  x: ` + JSON.stringify(msg.payload.tot.x) + `,\n  y: ` + JSON.stringify(msg.payload.tot.y) + `,\n  type: 'bar',\n  name: 'Total',\n  marker:{\n        color: 'rgb(0, 0, 255)',\n        line: {\n            color: 'rgb(0, 0, 255)'\n      }\n    }\n};\n\nvar data = [Positive, Negetive, Total];\n\nvar layout = {barmode: 'group'};\n\nPlotly.newPlot('myDiv', data, layout);\n</script>\n</body>\n</div>\n</html>`\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["2d302c43.4c1eb4"]]},{"id":"9726959c.a04fa8","type":"function","z":"3548a916.c533d6","name":"Formatter","func":"hts = msg.payload[\"hashtag\"];\nmsg.payload = [];\nfor(const ht in hts){\n    msg.payload.push({\n        ht: ht,\n        pos: hts[ht][\"positive\"],\n        neg: hts[ht][\"negetive\"],\n        tot: hts[ht][\"total\"],\n    });\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["7a79099f.ef52f8"]]},{"id":"7a79099f.ef52f8","type":"function","z":"3548a916.c533d6","name":"Plotter","func":"msg.payload = `\n<html>\n<head>\n<link href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n<script src=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js\"></script>\n<script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n<title>Covid-19 Dashboard</title>\n</head>\n<body>\n<style>\n.btn-huge{\n    margin: 15px;\n}\n</style>\n<br>\n<br>\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-md-2\">\n            <a href=\"/\" class=\"btn btn-info btn-lg btn-block btn-huge\">Home</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=date\" class=\"btn btn-info btn-lg btn-block btn-huge\">Timeline</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=location\" class=\"btn btn-info btn-lg btn-block btn-huge\">Location</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=hashtag\" class=\"btn btn-info btn-lg btn-block btn-huge\">HashTags</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=usermention\" class=\"btn btn-info btn-lg btn-block btn-huge\">Users Mentioned</a>\n        </div>\n    </div>\n    <br>\n    <br>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n<script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js\"></script>\n<link href=\"https://unpkg.com/tabulator-tables@4.0.4/dist/css/tabulator.min.css\" rel=\"stylesheet\">\n<script type=\"text/javascript\" src=\"https://unpkg.com/tabulator-tables@4.0.4/dist/js/tabulator.min.js\"></script>\n<div id=\"example-table\"></div>\n<script>\nvar tabledata = ` + JSON.stringify(msg.payload) + `;\nvar table = new Tabulator(\"#example-table\", {\n\tdata:tabledata,           //load row data from array\n\tlayout:\"fitColumns\",      //fit columns to width of table\n\tresponsiveLayout:\"hide\",  //hide columns that dont fit on the table\n\ttooltips:true,            //show tool tips on cells\n\taddRowPos:\"top\",          //when adding a new row, add it to the top of the table\n\thistory:true,             //allow undo and redo actions on the table\n\tpagination:\"local\",       //paginate the data\n\tpaginationSize:15,         //allow 7 rows per page of data\n\tmovableColumns:true,      //allow column order to be changed\n\tresizableRows:true,       //allow row order to be changed\n\tinitialSort:[             //set the initial sort order of the data\n\t\t{column:\"tot\", dir:\"desc\"},\n\t],columns:[ //Define Table Columns\n        {title:\"HashTag\", field:\"ht\", width:150},\n        {title:\"Positive\", field:\"pos\", align:\"left\"},\n        {title:\"Negetive\", field:\"neg\"},\n        {title:\"Total\", field:\"tot\", align:\"center\"},\n    ]\n});\n</script>\n</div>\n</body>\n</html>`\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["d448cbf6.6a37c8"]]},{"id":"e617ed49.a43b5","type":"function","z":"3548a916.c533d6","name":"Formatter","func":"ums = msg.payload[\"usermention\"];\nmsg.payload = [];\nfor(const um in ums){\n    msg.payload.push({\n        um: um,\n        pos: ums[um][\"positive\"],\n        neg: ums[um][\"negetive\"],\n        tot: ums[um][\"total\"],\n    });\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["e3b8e619.0d60b8"]]},{"id":"e3b8e619.0d60b8","type":"function","z":"3548a916.c533d6","name":"Plotter","func":"msg.payload = `\n<html>\n<head>\n<link href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n<script src=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js\"></script>\n<script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n<title>Covid-19 Dashboard</title>\n</head>\n<body>\n<style>\n.btn-huge{\n    margin: 15px;\n}\n</style>\n<br>\n<br>\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-md-2\">\n            <a href=\"/\" class=\"btn btn-info btn-lg btn-block btn-huge\">Home</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=date\" class=\"btn btn-info btn-lg btn-block btn-huge\">Timeline</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=location\" class=\"btn btn-info btn-lg btn-block btn-huge\">Location</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=hashtag\" class=\"btn btn-info btn-lg btn-block btn-huge\">HashTags</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=usermention\" class=\"btn btn-info btn-lg btn-block btn-huge\">Users Mentioned</a>\n        </div>\n    </div>\n    <br>\n    <br>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n<script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js\"></script>\n<link href=\"https://unpkg.com/tabulator-tables@4.0.4/dist/css/tabulator.min.css\" rel=\"stylesheet\">\n<script type=\"text/javascript\" src=\"https://unpkg.com/tabulator-tables@4.0.4/dist/js/tabulator.min.js\"></script>\n<div id=\"example-table\"></div>\n<script>\nvar tabledata = ` + JSON.stringify(msg.payload) + `;\nvar table = new Tabulator(\"#example-table\", {\n\tdata:tabledata,           //load row data from array\n\tlayout:\"fitColumns\",      //fit columns to width of table\n\tresponsiveLayout:\"hide\",  //hide columns that dont fit on the table\n\ttooltips:true,            //show tool tips on cells\n\taddRowPos:\"top\",          //when adding a new row, add it to the top of the table\n\thistory:true,             //allow undo and redo actions on the table\n\tpagination:\"local\",       //paginate the data\n\tpaginationSize:15,         //allow 7 rows per page of data\n\tmovableColumns:true,      //allow column order to be changed\n\tresizableRows:true,       //allow row order to be changed\n\tinitialSort:[             //set the initial sort order of the data\n\t\t{column:\"tot\", dir:\"desc\"},\n\t],columns:[ //Define Table Columns\n        {title:\"UserMention\", field:\"um\", width:150},\n        {title:\"Positive\", field:\"pos\", align:\"left\"},\n        {title:\"Negetive\", field:\"neg\"},\n        {title:\"Total\", field:\"tot\", align:\"center\"},\n    ]\n});\n</script>\n</div>\n</body>\n</html>`\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["f713dad7.6e9668"]]},{"id":"b8761eb4.23819","type":"switch","z":"3548a916.c533d6","name":"LocationSelector","property":"req.query.p","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":380,"wires":[["de027e78.516da"],["d3f8f605.fbb3e8"]]},{"id":"473c8b20.cd7d54","type":"cloudant in","z":"3548a916.c533d6","name":"","cloudant":"","database":"resultdb","service":"node-red-gqeir-cloudant-1592734921981-44337","search":"_id_","design":"","index":"","x":280,"y":500,"wires":[["c94f3dd8.2f31d"]]},{"id":"c94f3dd8.2f31d","type":"function","z":"3548a916.c533d6","name":"Formatter","func":"pos = {\n    x: [],\n    y: []\n};\nneg = {\n    x: [],\n    y: []\n};\ntot = {\n    x: [],\n    y: []\n};\ndates = msg.payload[\"location\"][msg.req.query.p];\nfor(const date in dates){\n    if (date == \"total\")\n        continue;\n    var d = new Date(parseInt(date));\n    d = d.toLocaleDateString('en-GB');\n    pos[\"x\"].push(d);\n    pos[\"y\"].push(dates[date][\"positive\"]);\n    \n    neg[\"x\"].push(d);\n    neg[\"y\"].push(dates[date][\"negetive\"]);\n    \n    tot[\"x\"].push(d);\n    tot[\"y\"].push(dates[date][\"positive\"] + dates[date][\"negetive\"] + dates[date][\"neutral\"]);\n}\nmsg.payload = {\n    pos: pos,\n    neg: neg,\n    tot: tot\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["bc3358ef.7b48e8"]]},{"id":"1850752d.2eb92b","type":"http response","z":"3548a916.c533d6","name":"","statusCode":"","headers":{},"x":770,"y":500,"wires":[]},{"id":"d3f8f605.fbb3e8","type":"function","z":"3548a916.c533d6","name":"place","func":"msg.payload = \"location\";\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":500,"wires":[["473c8b20.cd7d54"]]},{"id":"bc3358ef.7b48e8","type":"function","z":"3548a916.c533d6","name":"Plotter","func":"msg.payload = `\n<html>\n<head>\n<link href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n<script src=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js\"></script>\n<script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n<title>Covid-19 Dashboard</title>\n</head>\n<body>\n<style>\n.btn-huge{\n    margin: 15px;\n}\n</style>\n<br>\n<br>\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-md-2\">\n            <a href=\"/\" class=\"btn btn-info btn-lg btn-block btn-huge\">Home</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=date\" class=\"btn btn-info btn-lg btn-block btn-huge\">Timeline</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=location\" class=\"btn btn-info btn-lg btn-block btn-huge\">Location</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=hashtag\" class=\"btn btn-info btn-lg btn-block btn-huge\">HashTags</a>\n        </div>\n        <div class=\"col-md-2\">\n            <a href=\"/?q=usermention\" class=\"btn btn-info btn-lg btn-block btn-huge\">Users Mentioned</a>\n        </div>\n    </div>\n    <br>\n    <br>\n<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>\n<body>\n<h3>Important Dates</h3><br>\n<ol>\n<li>Before Janata Lockdown</li>\n<li>Durring Janata Lockdown (22 March)</li>\n<li>Lockdown 1.0 (25 March – 14 April)</li>\n<li>Lockdown 2.0 (15 April – 3 May)</li>\n<li>Lockdown 3.0 (4–17 May)</li>\n<li>Lockdown 4.0 (18 May – 7 June)</li>\n<li>Unlock 1.0 (from 8 June)</li>\n</ol>\nNOTE : The graph is interactive.\n<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>\n<h4 style=\"text-align: center;\">` + msg.req.query.p + `</h4>\n\n<script>\nvar Positive = {\n  x: ` + JSON.stringify(msg.payload.pos.x) + `,\n  y: ` + JSON.stringify(msg.payload.pos.y) + `,\n  type: 'scatter',\n  name: 'Positive',\n  line: {\n    color: 'rgb(0, 255, 0)',\n    width: 2\n  }\n};\n\nvar Negetive = {\n  x: ` + JSON.stringify(msg.payload.neg.x) + `,\n  y: ` + JSON.stringify(msg.payload.neg.y) + `,\n  type: 'scatter',\n  name: 'Negetive'\n};\n\nvar Total = {\n  x: ` + JSON.stringify(msg.payload.tot.x) + `,\n  y: ` + JSON.stringify(msg.payload.tot.y) + `,\n  type: 'scatter',\n  name: 'Total',\n  line: {\n    color: 'rgb(0, 0, 255)',\n    width: 2\n  }\n};\n\nvar data = [Positive, Negetive, Total];\n\nPlotly.newPlot('myDiv', data);\n</script>\n</div>\n</body>\n</html>`\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["1850752d.2eb92b"]]}]
